{% extends 'main/header.html' %}

  {% block content %}
  {% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/order" class="btn btn-primary btn-lg btn-block">Place Order</a>
            </div>
            <div class="col-md-4">
                <a href="/wallet" class="btn btn-primary btn-lg btn-block">Charge Wallet</a>
            </div>
            <div class="col-md-4">
                <a href="/orders" class="btn btn-primary btn-lg btn-block">Orders Status</a>
            </div>
        </div>
    </div>
  {% endif %}
  {% endblock %}